// Bootstrap
$primary: #ff4e0e;
$secondary: #000;
$tertiary: #43423e;

// Custom
$bg-white: #fff;
$bg-gray: #f5f5f5;
$body-font-color: #000;
$font-light: #fff;
$font-dark: #000;
$font-primary: #ff4e0e;
