// FontAwesome
$fa-font-path: "../fonts/webfonts" !default;

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Fonts
$font-family-sans-serif: "Montserrat", sans-serif;
$body-font-family: "Montserrat", sans-serif;
